@import '../../global.scss';

.calendar-container {
  max-width: $pc-max-width;
  position: relative;
  top: -30px;
  margin: 0 auto;
  width: 95%;

  .header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 0.2em;
    margin: 0 0 0.9em 0;
    padding: 0;
    font-size: 1.1em;
    background-color: $off-white;
    box-shadow: 0 4px 5px $line;

    li {
      padding: 1em 0;
      text-align: center;

      &:nth-child(7n - 6),
      &:nth-child(7n) {
        color: #fd6868;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 0.5em;
    padding: 0;
    margin: 0;
    background-color: $off-white;
    box-shadow: 0 4px 5px $line;

    .date:nth-child(7n - 6),
    .date:nth-child(7n) {
      color: #fd6868;
    }

    .date {
      padding: 0.4em;
      height: 5em;
      cursor: pointer;
      border-right: 1px solid $line;
      border-bottom: 1px solid $line;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > * {
        pointer-events: none;
      }

      .day-amount {
        text-align: right;
        font-size: 0.9em;
        .income {
          color: $primary;
        }
        .spand {
          color: $error;
        }
      }
    }

    .date:nth-child(7n) {
      border-right: 0;
    }

    .date {
      .other {
        opacity: 0.3;
      }
    }
  }
}

.day-ledger-info {
  max-width: $pc-max-width;
  width: 95%;
  margin: 0 auto;
  padding-top: 1em;
}
