@import '../../global.scss';

.ledger-add-button {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $primary;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  width: 10em;
  height: 6em;
  border-radius: 8px 8px 0 0;
}
