@import '../../global.scss';

.statistic-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  margin: 0 auto;
  width: 80%;
  border-radius: 8px;
  background-color: $background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  @media (max-width: $tablet-max-width) {
    flex-wrap: wrap;
    width: 90%;
  }

  #pie-chart {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
  }

  .category-container {
    align-self: flex-start;

    &--title {
      font-size: 22px;
    }

    &--list {
      padding: 0px;
      margin-top: 35px;
      &--item {
        display: flex;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid $label;
        & > .category {
          flex-grow: 1;
          display: flex;
          justify-self: center;
          & > span {
            width: 80%;
          }
        }
        & > .percent {
          flex-grow: 1;
        }
        & > .cost {
          text-align: end;
          flex-grow: 1;
        }
      }
    }
  }
}

.sub-chart-container {
  display: flex;
  justify-content: center;

  #line-chart {
    width: 800px;
    height: 500px;
    @media (max-width: $tablet-max-width) {
      width: 400px;
      height: 250px;
    }
  }
}
