@import '../../global.scss';

.statistic-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  margin: 0 auto;
  width: 80%;
  border-radius: 8px;
  background-color: $background;
  box-shadow: 0 2px 8px var(--line-color);
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  @media (max-width: $tablet-max-width) {
    flex-wrap: wrap;
    width: 90%;
  }

  #pie-chart {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    > svg {
      fill: $text-color;
      stroke: $text-color;
      width: 100%;
      height: 100%;
    }
  }

  #statistic-category-container {
    justify-self: stretch;
    align-self: stretch;
  }
}

.sub-chart-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &--header {
    display: flex;
    align-self: flex-end;
    .reset-btn {
      display: flex;
      align-content: center;
      flex-grow: 0;
      border-radius: 8px;
      background-color: $primary;
      color: $off-white;
      font-size: 0.85em;
      padding: 0.4em;
      border: 1px solid $primary;
      &:hover {
        color: $primary;
        background-color: transparent;
      }
    }
  }

  #line-chart {
    width: 600px;
    height: 375px;
    @media (max-width: $tablet-max-width) {
      width: 400px;
      height: 250px;
    }
    > svg {
      fill: $text-color;
      stroke: $text-color;

      width: 100%;
      height: 100%;
    }
  }
}
