@import '../../../global.scss';

.category-selector {
  margin: auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  &--toggle {
    background-color: $primary;
    color: white;
    border-radius: 999px;
    padding: 4px 8px;
    user-select: none;
    cursor: pointer;
  }
  &--list {
    border-right: 2px solid $primary;
    padding: 10px;
    display: none;
    width: 100px;
    max-height: 300px;
    overflow-y: scroll;
    margin: 0;
    position: absolute;
    transform: translate(100%, -50%);

    animation-name: fade-in-effect;
    animation-duration: 0.5s;
    &--item {
      border-radius: 999px;
      padding: 4px 8px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }
  }
}

@keyframes fade-in-effect {
  from {
    opacity: 0;
    transform: translate(150%, -50%);
  }

  to {
    opacity: 1;
    transform: translate(100%, -50%);
  }
}

.ledger-category {
  border-radius: 3em;
  color: $off-white;
  padding: 0.3em 0 0.2em;
  font-size: 0.85em;
  text-align: center;

  &[data-category-type='1'] {
    background-color: $category1;
  }
  &[data-category-type='2'] {
    background-color: $category2;
  }
  &[data-category-type='3'] {
    background-color: $category3;
  }
  &[data-category-type='4'] {
    background-color: $category4;
  }
  &[data-category-type='5'] {
    background-color: $category5;
  }
  &[data-category-type='6'] {
    background-color: $category6;
  }
  &[data-category-type='7'] {
    background-color: $category7;
  }
  &[data-category-type='8'] {
    background-color: $category8;
  }
  &[data-category-type='9'] {
    background-color: $category9;
  }
  &[data-category-type='10'] {
    background-color: $category10;
  }
}
