@import '../../../global.scss';

.category-selector {
  margin: auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  &--toggle {
    background-color: $primary;
    color: white;
    border-radius: 999px;
    padding: 4px 8px;
    user-select: none;
    cursor: pointer;
  }
  &--list {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    transform: translate(150%, 0%);

    animation-name: fade-in-effect;
    animation-duration: 0.5s;
    &--item {
      border-radius: 999px;
      border: 1px solid black;
      padding: 4px 8px;
      margin-bottom: 10px;
    }
  }
}

@keyframes fade-in-effect {
  from {
    opacity: 0;
    transform: translate(200%, 0%);
  }

  to {
    opacity: 1;
    transform: translate(150%, 0%);
  }
}
